.header {
    background: #eee;
}

.header a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.header a:hover {
    background-color: #aaa;
}