body {
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
}

p {
    text-align: justify;
}

.float {
    background-color: #6a9aee;
    border-radius: 5px;
    text-align: center;
    text-shadow: 0 0 5px white;
    vertical-align: middle;
    width: 160px;
    height: 30px;
    padding: 15px;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

.center {
    margin: auto;
}
