@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 800px;
    background-color: #EFEFEF;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    color: #1E1917;
    text-align: center;
    margin: auto;
}

header {
    width: 100%;
    background-color: #ffffff;
    color: #375461;
    border-top: 10px solid #375461;
    border-right: 10px solid #375461;
    padding: 40px;
    margin: 20px auto;
}

    header .title {
        text-transform: uppercase;
        font-size: 40px;
        text-align: left;
        letter-spacing: 2px;
    }

main {
    text-align: left;
    margin-bottom: 40px;
}

form {
    margin-left: 40px;
    width: 500px;
}

    form label,
    form label span,
    form a,
    form input[type=text],
    form input[type=email],
    form input[type=password],
    form select {
        display: block;
        width: 100%;
        line-height: 2em;
    }

    form label {
        width: 500px;
        font-size: 14px;
        margin-top: 10px;
    }

    form input[type=radio] {
        margin-left: 30px;
    }

        form input[type=radio]:first-of-type {
            margin-left: 0;
        }

    form input, form select {
        border-top: 5px solid #375461;
        border-left: 5px solid #375461;
        padding: 2px;
    }

        form input:focus,
        form select:focus {
            outline: none;
        }

    form a {
        font-size: 15px;
        color: #136F63;
        text-decoration: none;
    }

        form a:hover {
            cursor: default;
        }

    form button {
        display: inline-block;
        width: 45%;
        font-size: 15px;
        font-weight: bold;
        line-height: 2.5em;
        background-color: #EFEFEF;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 30px;
    }

        form button.cancel-btn {
            color: #FF5A2C;
            border-bottom: 5px solid #FF5A2C;
            border-right: 5px solid #FF5A2C;
            margin: 0 20px;
        }

        form button.save-btn {
            color: #167569;
            border-right: 5px solid #167569;
            border-bottom: 5px solid #167569;
        }
