@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: url(images/food-image-bg.png);
    background-size: cover;
    background-color: #393939;
    margin: auto;
}

main h1 {
    text-transform: uppercase;
    float: right;
    width: 60%;
    font-size: 3.2em;
    font-weight: bold;
}

.recipies-info p {
    display: inline-block;
    padding: 15px;
}

.recipies-info span {
    color: #b5c640;
}

button.btn-primary {
    border: 2px solid #ffffff;
    border-radius: 25px;
    padding: 10px 15px;
    background: none;
    color: #ffffff;
    width: 15%;
    margin-left: 185px;
}

    button.btn-primary:hover {
        background-color: #b5c640;
        border-color: #b5c640;
        cursor: pointer;
    }

ul.prep-steps {
    float: right;
    width: 60%;
}

    ul.prep-steps li.step {
        list-style-type: none;
        font-size: 1em;
        padding-top: 20px;
        padding-right: 40px;
    }
