/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
    color: #ffffff;
}

nav ul {
    padding: 0px;
    height: 40px;
    line-height: 30px;
    background-color: #293f50;
}

nav li {
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}

    nav li a {
        text-decoration: none;
        color: #5a7f74;
        font-weight: bold;
    }

header#container {
    padding: 0 10px;
    background-color: #293f50;
}

header > h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 20px;
    padding: 50px 10px 30px 10px;
}

header > h3 {
    color: #5a7f74;
    text-align: center;
    font-weight: initial;
    margin: 20px;
    padding: 5px;
}

header#container p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: initial;
    margin: 0 0 10px 0;
    padding: 0 0 20px 0;
}

    header#container p a {
        color: #ffffff;
        text-align: center;
        background: none;
        border: 1px solid #ffffff;
        border-radius: 5px;
        margin: 20px;
        padding: 15px;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
    }

        header#container p a:hover {
            background: #ffffff;
            border-color: #ffffff;
            color: #000000;
            cursor: pointer;
        }

header#container .first {
    text-align: right;
    text-transform: uppercase;
    color: #5a7f74;
    font-size: 12px;
    font-weight: bold;
}

main {
    background-color: #ffffff;
    margin: 5px;
    border: 1px solid #5a7f74;
}

section {
    display: inline-block;
    width: 30%;
    padding: 10px;
}

    section h3 {
        text-align: left;
        font-size: 16px;
        margin: 5px 0px 5px 0;
        padding: 5px 0 5px 0;
    }

    section img {
        width: 100%;
    }

    section > p {
        color: #000000;
        font-size: 14px;
        padding: 5px 5px 5px 0;
    }

.title {
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    padding: 15px 0px 15px 0;
}

footer {
    background-color: #293f50;
}

    footer div {
        color: #ffffff;
        font-size: 14px;
        margin: 20px 0px 10px 0px;
        padding: 5px;
        text-transform: lowercase;
        display: inline-block;
    }

    footer nav ul {
        background-color: #293f50;
        text-align: right;
    }

        footer nav ul li {
            font-size: 14px;
            width: 80px;
            cursor: pointer;
            text-transform: initial;
            text-align: right;
            display: inline-block;
        }

            footer nav ul li a {
                text-decoration: none;
                color: #ffffff;
                font-weight: normal;
            }
