* {
    box-sizing: border-box; /*NB*/
}

body {
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
}

header, footer {
    background-color: #906643;
    color: #ffffff;
    border: 1px solid #4b4b4b;
    padding: 20px;
}

.menu, .content {
    padding: 15px;
}

.content {
    width: 75%;
}

.menu {
    width: 25%;
}

    .menu ul {
        list-style: none;
        padding: 0;
    }

    .menu li {
        background-color: #39b9e7;
        color: #ffffff;
        margin-bottom: 20px;
    }

        .menu li:hover {
            background-color: #0099cc;
        }

    .menu a {
        text-decoration: none;
        color: #ffffff;
        display: block;
        padding: 15px;
    }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}
